body, html {
    height: 100%;
    font-weight: 200;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', 'arial', 'sans-serif';
    overflow: hidden;
}

p {
    margin: 0;
}

dd {
    margin: 0;
}

.border-1px {
    position: relative;

    &::after {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        border-top: 1px solid rgb(7, 17, 27, 0.1);
    }
}

.border-1px--none:last-child::after {
    display: none;
}

@media(-webkit-min-device-pixel-ratio: 1.5){
    .border-1px {
        &::after {
            transform: scaleY(0.7);
        }
    }
}

@media(min-device-pixiel-ratio: 1.5) {
    .border-1px {
        &::after {
            transform: scaleY(0.7);
        }
    }
}

.icon--weal {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}
.icon--decrease {
    background-image: url(../../assets/icon/decrease_1@2x.png);
}

.icon--discount {
    background-image: url(../../assets/icon/discount_1@2x.png);
}

.icon--guarantee {
    background-image: url(../../assets/icon/guarantee_1@2x.png);
}

.icon--invoice {
    background-image: url(../../assets/icon/invoice_1@2x.png);
}

.icon--special {
    background-image: url(../../assets/icon/special_1@2x.png);
}

.icon--decrease_3 {
    background-image: url(../../assets/icon/decrease_3@2x.png);
}

.icon--discount_3 {
    background-image: url(../../assets/icon/discount_3@2x.png);
}

.icon--guarantee_3 {
    background-image: url(../../assets/icon/guarantee_3@2x.png);
}

.icon--invoice_3 {
    background-image: url(../../assets/icon/invoice_3@2x.png);
}

.icon--special_3 {
    background-image: url(../../assets/icon/special_3@2x.png);
}
